<mat-table [dataSource]="people">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.age}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
        <mat-cell *matCellDef="let person">
            <button mat-raised-button (click)="navigateToDetailPage(person.id)">
                <mat-icon>description</mat-icon> Details
            </button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let person">
            <button mat-raised-button (click)="deletePerson(person.id)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
